---
import { getCollection } from "astro:content";
const allAuthors = await getCollection('authors')
const allPosts = await getCollection('posts')
import { format } from "timeago.js";
import { useTranslations, getLangFromUrl } from "../i18n/utils";
const { lang } = Astro.props;
const t = useTranslations(lang);
---

<section
  aria-labelledby="faq"
  id="faq-section"
  class="relative border-y border-white/5"
>
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-32 lg:py-36 relative">
    <div>
      <div class="max-w-xl">
        <div class="w-full">
          <span
            class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 text-xs uppercase"
            >{t('blog.subtitle')}</span
          >
          <h2 class="text-3xl mt-8 font-normal text-white">{t('blog.title')}</h2>
          <div class="max-w-lg mt-3">
            <p class="text-lg text-slate-400">
              {t('blog.description')}
            </p>
          </div>
        </div>
      </div>
      <div class="mt-12 space-y-12 divide--2 divide-white/5">
        {
          allPosts.reverse().map((post) => {
            const isInterview = post.data.type === "interview";
            const type = post.data.type;
            const date = post.slug
              .split("/")
              .slice(0, 3)
              .join("-");
            const author = allAuthors.find((author) => author.id === post.data.author)
            const timeAgoDate = format(date, lang);
            return (
              <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
                <div class="flex flex-row space-x-5 flex-shrink-0 mb-6 lg:space-x-0 lg:flex-col lg:pr-12 lg:mb-0 lg:pl-4">
                  <div class="flex-1 flex-col lg:flex-none lg:flex-row">
                    <p class="text-sm text-slate-400">{timeAgoDate}</p>
                    {!isInterview && (
                      <p class="text-sm text-slate-400">
                        {t('blog.written-by')}:{" "}
                        <a
                          class="hover:underline"
                          href={author?.data?.x_handle ? `https://twitter.com/${author?.data?.x_handle}` : null}
                        >
                          {author?.data?.name}
                        </a>
                      </p>
                    )}
                    {isInterview && (
                      <p class="text-sm text-slate-400">
                        Interviewee:{" "}
                        <a
                          class="hover:underline"
                          href={`https://twitter.com/${post.data.interviewee_x_handle}`}
                        >
                          {post.data.type === 'interview' ? post.data.interviewee_name : null}
                        </a>
                      </p>
                    )}
                  </div>
                  {type && (
                    <div class="self-start inline-flex divide-x-2 divide-vulcan-900 shadow-superThick rounded-xl p-0.5 bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 overflow-hidden lg:mt-6">
                      <div class="capitalize transition rounded-xl w-full block bg-vulcan-900 text-white px-3 py-1 text-sm font-medium">
                        {type}
                      </div>
                    </div>
                  )}
                </div>
                <div class="space-y-4 lg:col-span-2">
                  <span class="text-lg text-white">
                    <a href={`/blog/${post.slug}`}>{post.data.title}</a>
                  </span>
                  <p class="text-sm text-slate-400 mt-8">
                    {post.data.excerpt}
                  </p>

                  <p class="mt-4">
                    <a
                      href={`/blog/${post.slug}`}
                      class="text-sm leading-6 text-sky-600 hover:text-white"
                    >
                      {t('blog.read-more')} <span aria-hidden="true">&rarr;</span>
                    </a>
                  </p>
                </div>
              </div>
            );
          })
        }
      </div>
    </div>
  </div>
</section>
