---
import Verticalgrid from "../assets/VerticalGrid.astro";
import { getCollection } from "astro:content";
const allTestimonials = await getCollection('testimonials')
const testimony = allTestimonials[Math.floor(Math.random() * allTestimonials.length)]
---

<section
  aria-labelledby="testimonials"
  id="testimonials "
  class="relative overflow-x-hidden">
  <Verticalgrid />
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:pt-24 relative">
    <div class="max-w-2xl mx-auto text-center">
      <div>
        <span
          class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-cyan-400 via-cyan-500 to-indigo-500 text-xs uppercase"
          >OUR USERS</span
        >
        <p class="text-3xl mt-8 font-normal text-white">
          So much ❤️ from our users
        </p>
        <p class="max-w-2xl mt-4 text-lg text-slate-400">
          This is what our users have to say about the tool:
        </p>
      </div>
    </div>
  </div>
  <div class="pb-24">
    <div class="mx-auto">
      <div class="flex flex-row justify-center">
        <div class="p-4 lg:p-10 text-center basis-2/3">
          <img
            class="inline-block h-10 w-10 rounded-full ring-2 ring-white ring-offset-4 ring-offset-vulcan-900"
            src={testimony.data.avatar_href}
            alt=""
          />

          <div>
            <p class="text-slate-400 text-xs mt-8">
              <strong class="text-white">{testimony.data.name}</strong> ― {testimony.data.role} at {testimony.data.company}
            </p>
          </div>
          <div class="mt-4 text-base text-slate-400 line-clamp-10">
            {testimony.data.testimony}
          </div>
          <div class="flex gap-1 mx-auto justify-center mt-6">
            <svg
              class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
              fill="currentColor"
              stroke="currentColor"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              xmlns="http://www.w3.org/2000/svg"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              ></path>
            </svg>
            <svg
              class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
              fill="currentColor"
              stroke="currentColor"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              xmlns="http://www.w3.org/2000/svg"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              ></path>
            </svg>
            <svg
              class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
              fill="currentColor"
              stroke="currentColor"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              xmlns="http://www.w3.org/2000/svg"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              ></path>
            </svg>
            <svg
              class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
              fill="currentColor"
              stroke="currentColor"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              xmlns="http://www.w3.org/2000/svg"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              ></path>
            </svg>
            <svg
              class="icon icon-tabler fill-cyan-400 h-4 icon-tabler-star text-cyan-400 w-4"
              fill="currentColor"
              stroke="currentColor"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              xmlns="http://www.w3.org/2000/svg"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
